<h1>IMAGES</h1>

<% @images.each_with_index do |image, index| %>
  <h2><a href="/images/<%= index %>"><%= image[:title] %></a></h2>
  <p>
    <img src="<%= image[:url] %>" width="50%"/>
  </p>
<% end %>